{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>Наряду со страницами «Контакты» и «Частые вопросы» страница «О нас» является одной из стратегических областей контента, создаваемого для продающего сайта. Она также может называться «Наша команда», «История компании», «Миссия», но в любом случае выполняет ключевую цель – сказать : «индивидуальность нашего магазина – вот такая». Как сделать страницу «О нас» успешной и даже продающей – описывает Брейвин Кьюмар в блоге Shopify, переводит Evo.business</p>
</div>
{% endblock %}